</body>
<script src="js/app.js"></script>
<script src="js/common.js"></script>
<script src="js/charts.js"></script>
<script src="js/engcharts.js"></script>
<script src="js/mathcharts.js"></script>
<script src="js/urducharts.js"></script>
</html>
