<%- include("partials/header.ejs") %>

<div class="out">
  <div class="dashboard__page">
    <div class="header js-header"><button class="header__burger js-header-burger"><svg class="icon icon-burger">
          <use xlink:href="img/sprite.svg#icon-burger"></use>
        </svg></button><a class="header__logo" href="#"><img src="img/dashboard_logo.svg" alt="" /><img class="header__pic header__pic_white" src="img/logo-white.svg" alt="" /></a>
      <div class="header__title">Dashboard</div>
      <div class="header__group">
        <div class="buttonsDraw">
          <button class="group__btn btn btn_gray min_width" onclick="use_tool('draw');"> <img class="icon " style=" margin-right: 0px;" src="img/draw.svg" alt=""></button>
          <button class="group__btn btn btn_gray min_width" onclick="use_tool('erase');"><img class="icon " style=" margin-right: 0px;" src="img/eraser.svg" alt=""></button>
        </div>
        <div class="stroke__heading">
          <img class="icon " src="img/stroke.svg" alt="">
        </div>
        <div class="range">
          <div class="sliderValue">
            <span>1</span>
          </div>
          <div class="field">
            <div class="value left">
              1
            </div>
            <input id="rangeInput" type="range" min="1" max="20" name="" value="1" steps="1">
            <div class="value right">
              20
            </div>
          </div>
        </div>

        <div class="blackColor">
          <button type="button" name="button"></button>
        </div>

        <div class="colorSvg">
          <img class="icon " src="img/colorSelector.svg" alt="">
        </div>
        <div class="custom__color">
          <input type="color" name="strokeColor" id="strokeColor"  value="#000000">
        </div>
        <div class="clear__button">
          <button class="group__btn btn btn_red" id="clear_button" >Clear</button>
        </div>
        <div class="save__button">
          <button class="group__btn btn btn_yellow" id="submitButton">Submit</button>
        </div>
        <a class="header__profile" href="#"><img class="header__pic" src="img/header-ava.png" alt="" /></a>
      </div>
      <div class="header__bg js-header-bg"></div>
    </div>
    <div class="dashboard__pageWrapper">
      <div class="sidebar js-sidebar">
        <div class="sidebar__top"><button class="sidebar__close js-sidebar-close"><svg class="icon icon-close">
              <use xlink:href="img/sprite.svg#icon-close"></use>
            </svg></button><a class="sidebar__logo" href="#"><img class="sidebar__pic sidebar__pic_black" src="img/logo.svg" alt="" /><img class="sidebar__pic sidebar__pic_white" src="img/logo-white.svg" alt="" /></a></div>
        <div class="sidebar__wrapper">

          <div class="sidebar__menu"><a class="sidebar__item " href="/dashboard">
              <img class="icon " src="img/dashboard_icon.svg" alt="">
              Dashboard</a><a class="sidebar__item" href="/virtualboard">
              <img class="icon" src="img/virtualBoard_icon.svg" alt="">
              Virtual Board</a>
              <a class="sidebar__item " href="maths">
              <img class="icon" src="img/maths.svg" alt="">
              Maths</a>
              <a class="sidebar__item " href="english">
              <img class="icon" src="img/english.svg" alt="">
              English</a>
              <a class="sidebar__item active" href="urdu">
              <img class="icon" src="img/urdu.svg" alt="">
              Urdu</a>
              <a class="sidebar__item" href="/settings">
                <img class="icon" src="img/settings.svg" alt="">
                Setting</a>
            <a class="sidebar__item" style="color: #E92424" href="/">
              <img class="icon" src="img/logout_icon.svg" alt="">
              Logout</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page__container">
                <div class="page__content">
                  <div class="schedule">
                    <div class="sorting js-sorting">
                      <h1 class="sorting__title title">Schedule</h1>
                    </div>
                    <div class="schedule__container">
                      <div class="schedule__calendar">
                        <div class="datepicker">
                          <div class="datepicker__container">
                            <div class="datepicker__month">
                              <div class="datepicker__head">
                                <div class="datepicker__title">Urdu Alphabets</div>
                              </div>
                              <table class="datepicker__table">
                                <tbody>
                                </tbody>
                              </table>
                              <img src="img/urdu.png" style="margin-top: 100px; margin-left: 50px;" alt="">
                            </div>
                            <% if (result) { %>
                                <p class="ocr__result">The Letter you wrote is <%=answer%></p>
                            <% } %>
                          </div>
                        </div>
                      </div>
                      <div class="schedule__list">
                        <div class="page3__container">
                          <canvas id="canvas" width=auto height="885"></canvas>
                        </div>
                        <div class="schedule__foot"><a class="schedule__more" href="#"></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  </div>
</div>
</div>

<script src="js/urducanvas.js"></script>

<%- include("partials/footer.ejs") %>
